body{
background:#0f172a;
color:white;
font-family:Segoe UI;
margin:0;
}

.container{
width:80%;
margin:auto;
padding:30px;
}

h1{
margin-bottom:30px;
}

.card{
background:#111827;
padding:20px;
border-radius:10px;
margin-bottom:30px;
}

.form{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

input,select{
padding:10px;
background:#020617;
border:1px solid #334155;
color:white;
border-radius:5px;
}

button{
grid-column:span 2;
padding:12px;
background:#3b82f6;
border:none;
color:white;
font-weight:bold;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#2563eb;
}

table{
width:100%;
border-collapse:collapse;
background:#111827;
border-radius:10px;
overflow:hidden;
}

th{
text-align:left;
padding:12px;
background:#1f2937;
}

td{
padding:12px;
border-top:1px solid #374151;
}

.badge{
padding:4px 10px;
border-radius:15px;
font-size:12px;
font-weight:bold;
}

.new{background:#2563eb;}
.qualified{background:#16a34a;}
.contacted{background:#f59e0b;}
.lost{background:#ef4444;}